*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jersey 15", system-ui, sans-serif;
  font-size: calc(12px + 1vw);
}

body {
  background-color: #333;
  color: antiquewhite;
  height: 100%;
}

.container {
  max-width: 1170px;
  padding: 15px 1vw;
  margin: 15px auto 0px;
}

h1 {
  text-align: center;
  line-height: 1;
  margin-bottom: 1.5em;
}

h1 span {
  display: inline-block;
  font-weight: 400;
  font-size: calc(48px + 5vw);
}

h1 small {
  font-size: calc(16px + 1vw);
  font-weight: 300;
  text-transform: uppercase;
}

main {
  margin-top: 2%;
  padding: 1%;
  border: 1px solid antiquewhite;
}

ol {
  padding-left: 2ch;
}

li {
  line-height: 2;
}

li > a {
  color: rgb(227, 221, 233);
}

li > a:visited {
  color: rgb(210, 191, 228);
}

footer {
  margin-top: auto;
  text-align: center;
}

.glitch {
  position: relative;
  transform: scale3d(1, 1, 1);
}
.glitch::before,
.glitch::after {
  display: inline-block;
  font-weight: 400;
  font-size: calc(48px + 5vw);
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  color: antiquewhite;
  clip: rect(0, 900px, 0, 0);
}
.glitch::before {
  left: 3px;
  text-shadow: 1px 0 green;
  animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: 1px;
  text-shadow: -1px 0 red;
  animation: glitch-effect 2s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-effect {
  0% {
    clip: rect(76px, 9999px, 98px, 0);
  }
  5% {
    clip: rect(29px, 9999px, 70px, 0);
  }
  10% {
    clip: rect(20px, 9999px, 61px, 0);
  }
  15% {
    clip: rect(9px, 9999px, 48px, 0);
  }
  20% {
    clip: rect(69px, 9999px, 19px, 0);
  }
  25% {
    clip: rect(26px, 9999px, 25px, 0);
  }
  30% {
    clip: rect(64px, 9999px, 21px, 0);
  }
  35% {
    clip: rect(58px, 9999px, 3px, 0);
  }
  40% {
    clip: rect(1px, 9999px, 99px, 0);
  }
  45% {
    clip: rect(63px, 9999px, 88px, 0);
  }
  50% {
    clip: rect(41px, 9999px, 4px, 0);
  }
  55% {
    clip: rect(70px, 9999px, 60px, 0);
  }
  60% {
    clip: rect(26px, 9999px, 15px, 0);
  }
  65% {
    clip: rect(63px, 9999px, 75px, 0);
  }
  70% {
    clip: rect(57px, 9999px, 83px, 0);
  }
  75% {
    clip: rect(84px, 9999px, 54px, 0);
  }
  80% {
    clip: rect(62px, 9999px, 30px, 0);
  }
  85% {
    clip: rect(37px, 9999px, 26px, 0);
  }
  90% {
    clip: rect(61px, 9999px, 17px, 0);
  }
  95% {
    clip: rect(33px, 9999px, 63px, 0);
  }
  100% {
    clip: rect(49px, 9999px, 6px, 0);
  }
}

@keyframes glitch-effect {
  0% {
    clip: rect(76px, 9999px, 98px, 0);
  }
  5% {
    clip: rect(29px, 9999px, 70px, 0);
  }
  10% {
    clip: rect(20px, 9999px, 61px, 0);
  }
  15% {
    clip: rect(9px, 9999px, 48px, 0);
  }
  20% {
    clip: rect(69px, 9999px, 19px, 0);
  }
  25% {
    clip: rect(26px, 9999px, 25px, 0);
  }
  30% {
    clip: rect(64px, 9999px, 21px, 0);
  }
  35% {
    clip: rect(58px, 9999px, 3px, 0);
  }
  40% {
    clip: rect(1px, 9999px, 99px, 0);
  }
  45% {
    clip: rect(63px, 9999px, 88px, 0);
  }
  50% {
    clip: rect(41px, 9999px, 4px, 0);
  }
  55% {
    clip: rect(70px, 9999px, 60px, 0);
  }
  60% {
    clip: rect(26px, 9999px, 15px, 0);
  }
  65% {
    clip: rect(63px, 9999px, 75px, 0);
  }
  70% {
    clip: rect(57px, 9999px, 83px, 0);
  }
  75% {
    clip: rect(84px, 9999px, 54px, 0);
  }
  80% {
    clip: rect(62px, 9999px, 30px, 0);
  }
  85% {
    clip: rect(37px, 9999px, 26px, 0);
  }
  90% {
    clip: rect(61px, 9999px, 17px, 0);
  }
  95% {
    clip: rect(33px, 9999px, 63px, 0);
  }
  100% {
    clip: rect(49px, 9999px, 6px, 0);
  }
}
