/* Общие стили для всего документа */
body {
font-family: 'Arial', sans-serif;
line-height: 1.6;
margin: 0;
padding: 0;
color: #4c3e93;
background-color: #f8f8f8;
}

/* Стили для шапки сайта */
header {
background-color: #2c3e50;
color: white;
padding: 20px;
text-align: center;
}

header nav ul {
list-style: none;
padding: 0;
display: flex;
justify-content: center;
gap: 20px;
}

header nav a {
color: white;
text-decoration: none;
font-weight: bold;
text-align: center;
}

/* Стили для секций */
section {
padding: 50px 20px;
max-width: 1200px;
margin: 0 auto;
}

/* Стили для проектов */
.project {
margin-bottom: 40px;
background-color: white;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
padding: 20px;
}

.project img {
max-width: 100%;
border-radius: 3px;
}

/* Стили для контактной секции */
#contact a {
display: inline-block;
margin-right: 15px;
color: #3498db;
text-decoration: none;
}

/* Стили для подвала */
footer {
background-color: #2c3e50;
color: white;
text-align: center;
padding: 20px;
margin-top: 20px;
}
img {
    max-width: 100px;
    min-height: 100px;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  text-align: center;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
h1 {
    text-align: center;
}